@import "contact-details";
@import "v-title";
@import "swiper";

.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 50px;
  z-index: 996;
  background: $body-bg;
  /* width: 40px;
  height: 40px; */
  border-radius: 50px;
  transition: all 0.4s;
  // &:hover {
  //   background: $light;
  // }
}

.search {
  @include media-breakpoint-down(md) {
    width: 100%;
  }
  &__input {
    // @include media-breakpoint-down(sm) {
    //   width: 100%;
    // }
    @include media-breakpoint-up(md) {
      width: 220px;
    }
    @include media-breakpoint-up(lg) {
      width: 320px;
    }
  }
}

.results {
  width: 320px;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
  z-index: 2000;
  background-color: #fff;
  &__container {
    width: 100%;
    padding-top: 0.3rem;
    position: relative;
  }
  &__row {
    //   list-style: none;
    //   margin-left: 0em;
    //   background-color: #ffffff;
    //   border-bottom: 1px dotted #000;
    max-height: 79.981px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    &:hover {
      background-color: rgb(189, 189, 189);
    }
  }
  &__col {
    // flex: 0 0 auto;
    &--photo {
      width: 110px;
    }
    &--text {
      flex: 1;
      padding: 0.3rem;
    }
  }
  &__title {
    font-size: 1rem;
    width: 100%;
    a {
      text-decoration: none !important;
      &::hover,
      &::focus {
        outline: 0;
        color: #fff;
      }
      // stretched link, with position:relative parent
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: "";
      }
    }
  }
  &__image {
    width: 100%;
    height: auto;
    // margin: 0.3rem;
  }
  &__loading, &__empty {
    padding: .5rem;
  }
}

/* clears the X from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the X from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.hero {
  // min-height: 18rem;

  &__title {
    font-size: 3rem;
  }
  &__line1, &__line2 {
    font-size: 2rem;
  }
}

.header {
  &__title {
    font-size: 4rem;
  }
  &__sub {

  }
}