{{ $popular := false }}
{{ range first 1 (where .Site.Pages "Params.popular" true) }}
  {{ $popular = true }}
{{ end }}
{{ if $popular }}
{{- /* displays 5 popular products */ -}}
<div class="border px-3 pb-3">
    <p class="h4">Popular Products:</p>
    <ul class="list-unstyled mb-0">
      {{ range first 5 (where .Site.Pages "Params.popular" true) }}
      <li>
        <a class="text-decoration-none"
          href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
</div>
{{ end }}
