{{ define "main" }}
{{- /* shows a list of all the taxonomies (products) in a term e.g. categories > product1, product2 */ -}}
{{- /* .Kind is term */ -}}
<div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
  {{ range .Paginator.Pages }}
  <div class="col">
    {{ partial "blocks/product-card.html" . }}
  </div>
  {{ end }}
</div>
<div class="row">
  <div class="col d-flex flex-col justify-content-center py-3">
    {{ template "_internal/pagination.html" . -}}
  </div>
</div>
{{ end }}
