<!doctype html>
{{- /* uppercase country code in language code */ -}}
{{- $lang := .Lang -}}
{{- $country := index (findRE `-([a-z]*)` .Lang 1) 0 -}}
{{- if $country -}}
  {{- $lang = replaceRE "-([a-z]*)" (upper $country) .Lang 1 -}}
{{- end -}}
<html lang="{{ $lang }}" class="min-vh-100"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "head/index" . }}
    {{ block "head/json-ld" . }}{{ end }}
  </head>
  {{- partial "head/body-class" . -}}
  {{- $bodyClass := delimit (.Scratch.Get "class") " " -}}
  <body class="{{ $bodyClass }} d-flex flex-column min-vh-100 bg-light">
    {{- if and .IsHome .Site.Params.alert -}}
    {{ partial "header/alert" . -}}
    {{- end -}}
    <header class="">
      {{ partial "header/index" . }}</header>
    <div class="container">
      {{ if not .IsHome }}
      <div class="row">
        <div class="col">
          {{ block "title" . }}<h1 class="h2">{{ .Title | humanize | title }}</h1>{{ end }}
        </div>
      </div>
      <div class="row">
        {{ if or (eq .Section "shop") (eq .Section "categories") }}
        {{- /* displays for shop or categories pages */ -}}
        <div class="col-lg-9">
          <main class="mb-auto pb-3">
            {{ block "main" . }}{{ end }}
          </main>
        </div>
        <div class="col-lg-3">
          <aside>
            {{ block "sidebar" . }}{{ partial "sidebar/index" . }}{{ end }}
          </aside>
        </div>
        {{ else }}
        {{- /* displays for generic pages except home */ -}}
        <div class="col">
          <main class="mb-auto">
            {{ block "main" . }}{{ end }}
          </main>
        </div>
        {{ end }}
        {{ else }}
        {{- /* home display */ -}}
          {{ block "main" . }}{{ end }}
        {{ end }}
      </div>
    </div>
  
    <footer>
      {{ partial "footer/footer" . }}
    </footer>
    {{ partial "footer/script-footer" . }}
    {{ partial "footer/dev/grid" . }}
    {{ partial "footer/dev/debug-footer" . }}
  </body>
</html>