{{ define "main" }}
{{- /* shows a list news items */ -}}
{{ range $i, $e := .Paginator.Pages }}
  {{ $pages := len $.Paginator.Pages }}
  {{ if or (eq $i 0) (and (modBool $pages 2) (eq $i (sub $pages 1))) }}
  {{- /* first news item, or last item for even - full width article */ -}}
  <div class="row">
    <div class="col-md-4">
      {{ template "image" . }}
    </div>
    <div class="col-md-8">
      {{ template "news" . }}
    </div>
  </div>
  {{ else }}
  {{- /* half width pairs*/ -}}
    {{ if not (modBool $i 2) }}
    {{- /* if odd number */ -}}
    <div class="row">
      <div class="col-md-6">
        {{ template "image" . }}
        {{ template "news" . }}
      </div>
    {{ else }}
    {{- /* if even number */ -}}
      <div class="col-md-6">
        {{ template "image" . }}
        {{ template "news" . }}
      </div>
    </div>
    {{ end }}
  {{ end }}
{{ end }}

{{ end }}


{{ define "image" }}
{{ if .Params.images }}
  {{ if (index .Params.images 0) }}
    {{ with $img := index .Params.images 0 }}
      {{ partial "image" (dict "src" $img "page" $ "title" $.Title "class" "card-img-top img-fluid")}}
    {{ end }}
  {{ end }}
{{ end }}
{{ end }}
{{ define "news" }}
{{/*  <a href="{{ .Permalink }}">  */}}
<h2 class="h5">{{ .Title  }}</h5>
{{/*  </a>  */}}
<div>
{{ time.Format "Monday, Jan 2, 2006" .Lastmod}}
</div>
<p class="">{{ .Content }}</p>
{{ end }}
