{{ define "main" }}
{{ range $i, $e := .Paginator.Pages.ByDate.Reverse }}
  {{ $pages := len $.Paginator.Pages }}
  {{ if .Params.images }}
  <div class="row pb-3">
    <div class="col-md-4">
      {{ template "image" . }}
    </div>
    <div class="col-md-8">
      {{ template "news" . }}
    </div>
  </div>
  {{ else }}
  <div class="row pb-3">
    <div class="col">
      {{ template "news" . }}
    </div>
  </div>
  {{ end }}
{{ end }}

{{ end }}


{{ define "image" }}
{{ if .Params.images }}
  {{ if (index .Params.images 0) }}
    {{ with $img := index .Params.images 0 }}
      {{ partial "picture" (dict "src" $img "page" $ "title" $.Title "class" "card-img-top img-fluid" "widths" (slice 600 900))}}
    {{ end }}
  {{ end }}
{{ end }}
{{ end }}

{{ define "news" }}
{{/*  <a href="{{ .Permalink }}">  */}}
<h2 class="h5">{{ .Title  }}</h5>
{{/*  </a>  */}}
<div>
{{ time.Format "Monday, Jan 2, 2006" .Lastmod}}
</div>
<p class="">{{ .Content }}</p>
{{ end }}
