<div class="footer container-fluid mt-3 text-dark bg-info">
  <!-- <div class="row">
    {{/*  contact details  */}}
    <div class="col-lg-3 col-sm-6 footer-links ">
      <h3>{{ .Site.Title }}</h3>
      {{ with .Site.Data.schema }}
        {{ with .postalAddress }}
          <p>
          {{ range .streetAddress }}
            {{ . }} <br>
          {{ end }}
          {{ .addressLocality }} <br>
          {{ .addressRegion }}, {{ .postalCode }}<br>
          </p>
        {{ end }}
        {{ if or .telephone .email }}
          <p>
          {{ with (index .telephone 0) }}
            <strong>Phone:</strong> <a href="{{ .url | safeURL }}">{{ .text }}</a><br>
          {{ end }}
          {{ with .email }}
            <strong>Email:</strong> <a href="{{ .url | safeURL }}">{{ .text }}</a><br>
          {{ end }}
          </p>
        {{ end }}
      {{ end }}
    </div>
    {{/* shop categories */}}
    {{ with site.Taxonomies.categories }}
    <div class="col-lg-3 col-sm-6 footer-links">
      <h4 class="">Shop Categories</h4>
      <ul class="list-unstyled">
        {{ range sort . "Page.Params.weight" }}
          <li>{{ partial "svg-font" (dict "src" "icons/box/bx-chevron-right" )}} 
            <a class="text-decoration-none"
              href="{{ .Page.RelPermalink }}">{{ .Page.Title | humanize | title }}</a>
          </li>
      {{ end }}
      </ul>
    </div>
    {{ end }}
    {{/*  site links pt1  */}}
    <div class="col-lg-3 col-sm-6 footer-links">
      <h4>Site Links</h4>
      <ul class="list-unstyled">
        {{ range .Site.Menus.footer }}
        <li>{{ partial "svg-font" (dict "src" "icons/box/bx-chevron-right" )}} <a href="{{ .URL }}"
            class="text-decoration-none">{{ .Name }}</a></li>
        {{ end -}}
      </ul>
    </div>
    {{/*  site links pt2 */}}
    <div class="col-lg-3 col-sm-6 footer-links">
      <h4 class="invisible">Site Links</h4>
      <ul class="list-unstyled">
        {{ range .Site.Menus.footer2 }}
        <li>{{ partial "svg-font" (dict "src" "icons/box/bx-chevron-right" )}} <a href="{{ .URL }}"
            class="text-decoration-none">{{ .Name }}</a></li>
        {{ end -}}
      </ul>
    </div>
    
  </div> -->
  <div class="row">
    <!-- <div class="col-sm-3 col-md-2 d-flex align-items-end justify-content-end  m-0 p-0">
      {{ $logo := resources.Get "images/footer-logo.png" }}
       <img class="img-fluid d-block" src="{{ $logo.RelPermalink }}" alt="" >
test
    </div> -->

    <div class="col-sm-7 pt-3">
      {{ range .Site.Menus.icons }}
      <div class="d-flex flex-row align-middle pb-2">
        <div class="d-flex align-items-center">
          <div class="fs-4 text-white me-2 my-2">
          {{ if .Pre }}
          {{ partial "svg-font" (dict "src" .Pre "block" true "title" .Name "desc" .Params.desc) }} 
          {{ end }}
          </div>
        </div>
        <div class=" d-flex align-items-center">
          <a href="{{ .URL }}" class="text-decoration-none link-light">{{ .Name }}</a>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="col-sm-3 col-7 d-flex align-items-end m-0 p-0 pe-md-5 order-sm-first">
      {{ $dict := (dict
        "src" "images/footer-logo.png"
        "style" "max-width: 100% !important; height: auto !important;"
        "title" "Pure Blue Essentials Logo"
        "layout" "fixed"
        "width" 300
        )}}
      {{ partial "image" $dict }}
     

  </div>
    <div class="col-sm-2 col-5 d-flex align-items-end justify-content-end pb-3">
   
        {{ partial "blocks/menu-social" (dict "fontClass" "text-white fs-3" "class" "me-2") }}
 
    </div>
  </div>
  <!-- <div class="row">
    <div class="col d-flex">
      <span class="mb-0">
        {{-  with .Site.Params.footer | markdownify -}}
        {{- . -}}
        {{- else -}}
        &copy; <span id="year"><noscript>{{ now.Format "2006"}}</noscript></span> &nbsp;{{ .Site.Copyright | default .Site.Title }}
        {{- end -}}
      </span>
   
    </div>
  </div>
</div> -->

