{{ define "main" }}
<div class="container" >
  <div class="row justify-content-center mt-3">
    <div class="col text-center d-flex justify-content-evenly flex-column">
       <div class="hero">
        <!-- <h1 class="hero__title">{{ .Site.Title }}</h1> -->
        {{ if (or .Params.line1 .Params.line2) }}
        <div class="row text-center mb-5">
          {{ with .Params.line1 }}
          <div class="lead fs-1 hero__line1">{{ . }}</div>
          {{ end }}
          {{ with .Params.line2 }}
          <div class="lead fs-1 hero__line2">{{ . }}</div>
          {{ end }}
        </div>
        {{ end }}
       </div>
      <!-- <div class="v-title__container">
      <video autoplay loop muted class="v-title__video">
        {{ $video := resources.Get "videos/output600x80.mp4" }}
        <source src="{{ $video.RelPermalink }}" type="{{ $video.MediaType }}">
      </video>
      <h1 class="v-title__text">{{ .Site.Title }}</h1>
    </div> -->
    </div>
  </div>
  <div class="row mb-3 d-flex justify-content-center">
    <div class="col-lg-10 col-xl-9">
      <!-- Slider main container -->
      <div class="swiper swiper-home position-relative " id="js-swiperHome">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper ">
          <!-- Slides -->
          {{-  $images := .Resources.ByType "image" -}}
          {{- range $images }}
          {{ $image := printf "%s" . }}
          {{- $dict := (dict
          "src" $image
          "page" $
          "title" "pure blue essentials"
          "fillRatio" (slice 6 3)
          "widths" (slice 640 800 1200)
          ) -}}
          <div class="swiper-slide">{{ partial "picture" $dict }}</div>
          {{- end }}

        </div>
        <div class="position-absolute start-50 translate-middle-x" style="z-index:2000;bottom:15%;">
          <a href="{{ relref . " /shop" }}" class="btn btn-primary btn-lg">Shop Now</a>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>

      </div>

    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h2>Shop by Category</h2>
    </div>
  </div>
  <div id="shop" class="row row-cols-2 row-cols-lg-3 g-2 g-lg-4 d-flex justify-content-center">
    {{ range sort site.Taxonomies.categories "Page.Params.weight" }}
    {{ with .Page }}
    <div class="col mb-3">
      {{ partial "blocks/category-card" . }}
    </div>
    {{ end }}
    {{ end }}
  </div>

  <div class="row mt-5">
    <div class="col">
      <h2>Featured Products</h2>
    </div>
  </div>
  {{ $popular := false }}
  {{ range first 1 (where .Site.Pages "Params.popular" true) }}
  {{ $popular = true }}
  {{ end }}
  {{ if $popular }}
  {{- /* displays 5 popular products, add scroll if needed */ -}}
  <div id="featured" class="mb-3 row row-cols-3 row-cols-lg-5 g-2 g-lg-4 d-flex justify-content-center">
    {{ range first 5 (where .Site.Pages "Params.popular" true) }}
    <div class="col mb-3">
      {{ partial "blocks/product-card" . }}
    </div>

    {{ end }}
  </div>
  {{ end }}



<div class="row">
  <div class="col">
     {{- .Content -}}
  </div>
</div>
</div>




<div class="back-to-top d-none" id="js-topNav">
  <div class="text-primary fs-1">
    <a href="#top">
      {{ partial "svg-font" (dict "src" "icons/bootstrap/arrow-up-circle.svg" "em" 3 "block" true )}}
    </a>
  </div>
</div>

</div>
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}
