{{ define "main" }}
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Cat</th>
      <th>Name</th>
      <th>Price</th>
      <th>Img 1</th>
      <th>Imgs</th>
      <th>Weight</th>
      <th>H</th>
      <th>W</th>
      <th>L</th>
      <th>Add To Cart</th>
    </tr>
  </thead>
  <tbody>
    {{ $data := where (where .Site.Pages "Type" "shop") "Kind" "eq" "page" }}
    {{ range sort $data "Params.id"  }}
    {{ $ctx := . }}
    <tr>
      <th scope="row">
        {{ .Params.id }}
      </th>
      <th>
        {{ with .Params.categories }}
        {{ delimit . "|" | humanize | title }}
        {{ end }}
      </th>
      <th>
        <a href="{{.RelPermalink }}">{{ .Title }}</a>
      </th>
      <th>${{ .Params.price }}</th>
      <th>
        {{ with .Params.images }}
        {{ $image := $ctx.Resources.GetMatch (index . 0) }}
        {{ $image = $image.Resize "60x" }}
        <img src="{{ $image.RelPermalink }}" width="{{$image.Width}}" height="{{$image.Height}}">
        {{ end }}
      </th>
      <th>
        {{ with .Params.images }}
          {{ len . }}
        {{ else }}0{{ end }}
      </th>
      <th>
          {{ with .Params.weight }}
     {{ . }}g
      {{ end }}
      </th>
      <th>
          {{ with .Params.height }}
      {{ . }}cm
      {{ end }}
      </th>
      <th>
         {{ with .Params.width }}
      {{ . }}cm
      {{ end }}
      </th>
     <th>
       {{ with .Params.length }}
      {{ . }}cm
      {{ end }}
     </th>
      
      <th>
       {{ partial "blocks/add-to-cart" . }}
      </th>
    </tr>

    {{ end }}
  
  </tbody>
</table>

 
  



{{ end }}
