{{ define "main" }}
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID:</th>
      <th>Category:</th>
      <th>Name:</th>
      <th>Price:</th>
      <th>1st Image:</th>
      <th>Weight:</th>
      <th>Height:</th>
      <th>Width:</th>
      <th>Length:</th>
      <th>Button:</th>
    </tr>
  </thead>
  <tbody>
    {{ $data := where (where .Site.Pages "Type" "shop") "Kind" "eq" "page" }}
    {{ range sort $data "Params.id"  }}
    {{ $ctx := . }}
    <tr>
      <th scope="row">
        {{ .Params.id }}
      </th>
      <th>
        {{ with .Params.categories }}
        {{ delimit . "|" | humanize | title }}
        {{ end }}
      </th>
      <th>
        <a href="{{.RelPermalink }}">{{ .Title }}</a>
      </th>
      <th>${{ .Params.price }}</th>
      <th>
        {{ with .Params.images }}
        {{ $image := $ctx.Resources.GetMatch (index . 0) }}
        {{ $image = $image.Resize "60x" }}
        <img src="{{ $image.RelPermalink }}" width="{{$image.Width}}" height="{{$image.Height}}">
        {{ end }}
      </th>
      <th>
          {{ with .Params.weight }}
     {{ . }}g
      {{ end }}
      </th>
      <th>
          {{ with .Params.height }}
      {{ . }}cm
      {{ end }}
      </th>
      <th>
         {{ with .Params.width }}
      {{ . }}cm
      {{ end }}
      </th>
     <th>
       {{ with .Params.length }}
      {{ . }}cm
      {{ end }}
     </th>
      
      <th>
        <button class="btn btn-primary snipcart-add-item my-3" href="#" id="js-snip"
      data-item-id="{{ .Params.id }}"
      data-item-price="{{ .Params.price }}" 
      data-item-url="{{ .Permalink }}"
      data-item-description="{{ .Summary }}"
      {{- $ctx := . -}} 
      {{- $sizes := slice -}}
      {{ range .Params.sizes }}
      {{ $sizes = $sizes | append (printf "%s[+%d]" .size (sub .price $ctx.Params.price) ) }}
      {{ end }}
      {{ with $sizes }}
      data-item-custom1-name="Size"
      data-item-custom1-options="{{ $.Params.size }}|{{ delimit . "|"}}"
      {{ end }}
      {{ if .Params.message }}
      data-item-custom2-name="Message"
      data-item-custom2-type="textarea"
      {{ end }}
      {{ with .Params.images }}
      {{ $image := $ctx.Resources.GetMatch (index . 0) }}
      {{ $image = $image.Resize "120x" }}
      data-item-image="{{ $image.RelPermalink }}"
      {{ end }}
      data-item-name="{{ .Title }}"
      data-item-id="{{ .Params.id }}" 
      {{ with .Params.categories }}
      data-item-categories="{{ delimit . "|" }}"
      {{ end }}
      {{ with .Params.weight }}
      data-item-weight="{{ . }}"
      {{ end }}
      {{ with .Params.height }}
      data-item-height="{{ . }}"
      {{ end }}
      {{ with .Params.width }}
      data-item-width="{{ . }}"
      {{ end }}
      {{ with .Params.length }}
      data-item-length="{{ . }}"
      {{ end }}>Add to cart
    </button>
      </th>
    </tr>

    {{ end }}
  
  </tbody>
</table>

 
  



{{ end }}