<div class="container-fluid bg-info">
  <div class="row d-none d-md-flex" style="min-height: 12rem;">
    <div class="col-md-3">
      &nbsp;
    </div>
    <div class="col-md-6 col-12 text-center d-flex justify-content-evenly flex-column">
      <h1 class="text-secondary" style="font-size: 3rem;">Pure Blue Essentials</h1>
      <h2 class="text-secondary">- Natural Health Products - </h2>
      <h3 class="fs-3 text-white">Your body will thank you for it</h3>

    </div>
    <div class="col-md-3 d-flex justify-content-end p-0">
      {{ $dict := (dict
        "src" "images/header-logo.png"
        "style" "max-height: 12rem; width: auto;"
        "title" "Pure Blue Essentials Logo"
        "layout" "fixed"
        "width" 300
        )}}
      {{ partial "image" $dict }}
    </div>
  </div>
</div>