<nav class="navbar navbar-expand-md navbar-dark bg-info">
  <div class="container-fluid">
    <div class="d-md-none d-block">
      <a href="#" class="snipcart-checkout">
        <div class="d-inline-block position-relative fs-2 m-3 text-primary">
          {{ partial "svg-font" (dict "src" "icons/box/bx-shopping-bag" "block" true "title" "Shopping Cart" "desc" "View Shopping Cart") }}
          <!-- badge rounded-pill bg-secondary-->
          <span class="position-absolute top-0 start-100 translate-middle  fs-6 snipcart-items-count"><span
              class="visually-hidden">Cart Contents</span></span>
        </div>
      </a>
    </div>
    <div class="h1 fs-1 d-md-none text-secondary navbar-brand">{{ .Site.Title }}</div>
    {{/* <a class="navbar-brand" href="{{ absURL " /" }}">{{ .Site.Title }}</a> */}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0">
        {{- range .Site.Menus.main -}}
        {{- if .HasChildren -}}
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle {{ if $.HasMenuCurrent " main" . }}active{{ end }}" href="#"
            id="navbarDropdown-{{- .Identifier -}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{-
            .Pre }}{{- .Name -}}{{ .Post -}}</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown-{{- .Identifier -}}">
            {{- range .Children -}}
            {{- if .Params.divider -}}
            <li>
              <hr class="dropdown-divider">
            </li>
            {{- else if .Params.disabled -}}
            <li><a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">{{- .Pre }}{{- .Name -}}{{
                .Post -}}</a></li>
            {{- else if $.IsMenuCurrent "main" . -}}
            <li><a class="dropdown-item active" aria-current="page" href="{{ .URL }}">{{- .Pre }}{{- .Name -}}{{ .Post
                -}}</a></li>
            {{- else -}}
            <li><a class="dropdown-item" href="{{ .URL }}">{{- .Pre }}{{- .Name -}}{{ .Post -}}</a></li>
            {{- end -}}
            {{- end -}}
          </ul>
        </li>
        {{ else }}
        <li class="nav-item">
          {{- if .Params.disabled -}}
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{- .Pre }}{{- .Name -}}{{ .Post
            -}}</a>
          {{- else if $.IsMenuCurrent "main" . -}}
          <a class="nav-link active" aria-current="page" href="{{ .URL }}">{{- .Pre }}{{- .Name -}}{{ .Post -}}</a>
          {{- else -}}
          <a class="nav-link" href="{{ .URL }}">{{- .Pre }}{{- .Name -}}{{ .Post -}}</a>
          {{- end -}}
        </li>
        {{- end -}}
        {{- end -}}
      </ul>
      <div class="ms-auto d-none d-md-block">
        <a href="#" class="snipcart-checkout">
          <div class="d-inline-block position-relative fs-2 m-3 text-primary">
            {{ partial "svg-font" (dict "src" "icons/box/bx-shopping-bag" "block" true "title" "Shopping Cart" "desc" "View Shopping Cart") }}
            <!-- badge rounded-pill bg-secondary-->
            <span class="position-absolute top-0 start-100 translate-middle  fs-6 snipcart-items-count"><span
                class="visually-hidden">Cart Contents</span></span>
          </div>
        </a>
      </div>

    </div>
  
  </div>
</nav>