<nav class="navbar navbar-expand-md navbar-dark bg-info">
  <div class="container-fluid">
    {{/* <a class="navbar-brand" href="{{ absURL " /" }}">{{ .Site.Title }}</a> */}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="h1 d-md-none text-secondary">{{ .Site.Title }}</div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0">
        {{- range .Site.Menus.main -}}
        {{- if .HasChildren -}}
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle {{ if $.HasMenuCurrent " main" . }}active{{ end }}" href="#"
            id="navbarDropdown-{{- .Identifier -}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{-
            .Pre }}{{- .Name -}}{{ .Post -}}</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown-{{- .Identifier -}}">
            {{- range .Children -}}
            {{- if .Params.divider -}}
            <li>
              <hr class="dropdown-divider">
            </li>
            {{- else if .Params.disabled -}}
            <li><a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">{{- .Pre }}{{- .Name -}}{{
                .Post -}}</a></li>
            {{- else if $.IsMenuCurrent "main" . -}}
            <li><a class="dropdown-item active" aria-current="page" href="{{ .URL }}">{{- .Pre }}{{- .Name -}}{{ .Post
                -}}</a></li>
            {{- else -}}
            <li><a class="dropdown-item" href="{{ .URL }}">{{- .Pre }}{{- .Name -}}{{ .Post -}}</a></li>
            {{- end -}}
            {{- end -}}
          </ul>
        </li>
        {{ else }}
        <li class="nav-item">
          {{- if .Params.disabled -}}
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{- .Pre }}{{- .Name -}}{{ .Post
            -}}</a>
          {{- else if $.IsMenuCurrent "main" . -}}
          <a class="nav-link active" aria-current="page" href="{{ .URL }}">{{- .Pre }}{{- .Name -}}{{ .Post -}}</a>
          {{- else -}}
          <a class="nav-link" href="{{ .URL }}">{{- .Pre }}{{- .Name -}}{{ .Post -}}</a>
          {{- end -}}
        </li>
        {{- end -}}
        {{- end -}}
      </ul>

    </div>
    <a href="#" class="snipcart-checkout">
      <div class="d-inline-block position-relative fs-2 m-3 text-primary">
        {{ partial "svg-font" (dict "src" "icons/box/bx-shopping-bag" "block" true "title" "Shopping Cart" "desc" "View Shopping Cart") }}
        <!-- badge rounded-pill bg-secondary-->
        <span class="position-absolute top-0 start-100 translate-middle  fs-6 snipcart-items-count"><span
          class="visually-hidden">Cart Contents</span></span>
      </div>
    </a>
    <form id="js-search" class="d-flex position-relative" autocomplete="off">
      <div class="form-floating">
        <input id="js-searchInput" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
<label for="js-searchInput">Search</label>
      </div>
      <!-- <button id="js-searchSubmit" class="btn btn-outline-success" type="submit">Search</button> -->
      <div class="position-absolute top-100 start-0 d-none" id="searchResults">
        <ul class="p-0">
          <li>
            <a href="#" tabindex="0"> 
            <span class="title">Sample Title</span><br />
            <span class="sc">Section</span> — Date — <em>Description</em></a>
          </li>
        </ul>
      </div>
      
    </form>
  </div>
</nav>
<style>
    
#js-searchInput {
  width: 320px;
}

#searchResults { width: 320px;  z-index:2000;}
#searchResults li { 
  list-style: none; 
  margin-left: 0em;
  background-color: #ffffff; 
  border-bottom: 1px dotted #000;
}
#searchResults li .title { font-size: 1.1em; ;padding: 10px; width:100%;}
#searchResults li:hover {background-color: #666}
#searchResults a { text-decoration: none !important; }
#searchResults a:hover, a:focus { outline: 0;  color: #fff; }


/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
</style>