<form id="js-search" class="search d-flex position-relative ms-md-auto" autocomplete="off">
  <input id="js-searchInput" class="search__input form-control me-md-2" type="search" placeholder="Search"
    aria-label="Search">
  <!-- <label for="js-searchInput">Search</label> -->
<!-- <button id="js-searchSubmit" class="btn btn-outline-success" type="submit">Search</button> -->
<div class="position-absolute top-100 start-0 d-none results" id="js-searchResults">
  <div class="results__empty" id="js-searchLoading">
    Loading..
  </div>
</div>
</form>