{{ define "main" }}

{{/* {{ $paginator := .Paginate (.Data.Pages) -}}
{{ range $paginator.Pages -}}

<div class="row my-2">
  <div class="col-md-4">
    {{ $img := .Resources.GetMatch (index .Params.images 0) }}
    <img src="{{ $img.Permalink }}" alt="" class="img-fluid lazyloaded">  
  </div>
  <div class="col-md-8">
    <h2 class="h4"><a href="{{ .Permalink }}" class="text-decoration-none">{{ .Title }}</a></h2>
  {{ .Summary }}
  </div>
</div>
{{ end -}}
{{ template "_internal/pagination.html" . -}} */}}

{{- /* shows a list of all the products since there isnt many in the store yet */ -}}
{{- /* 
<div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
  {{ $paginator := .Paginate (.Data.Pages) -}}
  {{ range $paginator.Pages -}}
  <div class="col">
    {{ partial "blocks/product-card.html" . }}
  </div>
  {{ end -}}
  
</div>
<div class="row">
  <div class="col d-flex flex-col justify-content-center py-3">
    {{ template "_internal/pagination.html" . -}}
  </div>
</div>

*/ -}}

<div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
  {{ range sort site.Taxonomies.categories "Page.Params.weight" }}
  {{ with .Page }}
  <div class="col mb-3">
      {{ partial "blocks/category-card" . }}
  </div>
  {{ end }}
  {{ end }}
</div>
{{ end }}
