{{ define "title" }}&nbsp;{{ end }}
{{ define "main" }}
<div class="row mb-3">
  <div class="col-md-6">
    {{ with .Params.images }}
      {{ if gt (len . ) 1 }}
      <div class="swiper-container">
        <!-- Slider main container -->
        <div id="js-swiperShopMain" class="swiper swiper-shop-main">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            {{ range . }}
            <div class="swiper-slide d-flex">
              <!-- <div class="swiper-lazy-preloader"></div> -->
              {{ $dict := (dict "src" . "placeholder" "empty" "page" $ "title" $.Title "fillRatio" (slice 3 2) "widths" (slice 340 560) "sizes" "(min-width: 768px) 50vw, 100vw") }}
              {{ partial "image" $dict }}
    
            </div>
            {{ end }}
          </div>
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <!-- thumbnail swiper -->
        <div swiperShopThumbs="" id="js-swiperShopThumbs" class="swiper swiper-shop-thumbs">
          <div class="swiper-wrapper">
            {{ range . }}
            <div class="swiper-slide">
              {{ $dict := (dict "src" . "page" $ "title" $.Title "fillRatio" (slice 3 2) "widths" (slice 76 122) ) }}
              {{ partial "image" $dict }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ else if eq (len .) 1 }}
        {{- /* if only one image is present dont load swiper */ -}}
        {{ $img := index $.Params.images 0 }}
        {{ $dict := (dict "src" $img "page" $ "title" $.Title "fillRatio" (slice 3 2)) }}
        {{ partial "image" $dict }}
      {{ end }}
    {{ else }}
      {{- /* no image provided */ -}}
      {{ $dict := (dict "src" "images/product-logo.jpg" "title" $.Title "fillRatio" (slice 3 2)) }}
      {{ partial "image" $dict }}
    {{ end }}
  </div>
  <div class="col-md-6">
    <h1 class="h3">{{ .Title }}</h1>
    <div>
      {{ with .Params.Sizes }}
      {{/*  <label for="js-sizes">Sizes</label>
      <select id="js-sizes">
        <option value="{{ $.Params.size }}">{{ $.Params.size }} - ${{ $.Params.price }}</option>
        {{ range . }}
        <option value="{{ .size }}">{{ .size }} - ${{ .price }}</option>
        {{ end }}
      </select>  */}}
      <strong>Sizes: </strong>
      <ul class="list-unstyled">
        <li>{{ $.Params.size }} - {{ printf "%.2f" (float $.Params.price) }}</li>
        {{ range . }}
        {{ $price := float .price }}
        <li>{{ .size }} - ${{ printf "%.2f" (float .price) }}</li>
        {{ end }}  
      </ul>
      {{ else }}
        {{ with .Params.price}}
        <div>
          Price: ${{ printf "%.2f" (float .) }}
        </div>
        {{ end }}
        {{ with .Params.size }}
        <div>
          Size: {{ . }}
        </div>
        {{ end }}
      {{ end }}
    </div>
    <!-- <div>
      {{ with .Params.Summary}}
      Summary: {{ . }}
      {{ end }}
    </div> -->
    <div>
      {{ partial "blocks/add-to-cart" . }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2 class="h4">Description:</h2>
      {{- .Content -}}
      {{ if .Params.heat }}
      <br>
      <strong>Available Fillings: (Choose at checkout)</strong>
      <br>
      <ul class="list-unstyled">
      {{ with .Site.Data.heatPacks }}
      {{ range .fillings }}
        <li>{{ . | title }}</li>
      {{ end }}
      {{ end }}
      </ul>
      <br>
      <strong>Available Designs: (Choose at checkout)</strong>
      <br>
      <ul class="list-unstyled">
      {{ with .Site.Data.heatPacks }}
      {{ range .designs }}
        <li>{{ . | title }}</li>
      {{ end }}
      {{ end }}
      </ul>
      {{ end }}
      {{ if .Params.long }}
      <br>
      <strong>Available Essential oils: (Choose at checkout)</strong>
      <br>
      <ul class="list-unstyled">
      {{ with .Site.Data.essentialOils }}
      {{ range .types }}
        <li>{{ . | title }}</li>
      {{ end }}
      {{ end }}
      </ul>
      {{ end }}
  </div>
</div>
{{ end }}

{{ define "head/json-ld" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "product",
  "name": "{{ .Title }}",
  {{ with .Params.images -}}
  "image": [
    {{- range $i, $e := . -}}
    {{- if ne $i 0 -}}, {{ end }}
    {{ $.Permalink }}
    {{- end -}}
  ],
  {{ end -}}
  "description": "{{ .Summary }}", 
  {{ with .Params.brand -}}
  "brand": {
    "@type": "brand",
    "name": "{{ . }}"
  },
  {{ end -}}
  "offers": {
    "@type": "Offer",
    "price": "{{ .Params.Price }}",
    "availability": "https://schema.org/InStock",
    "priceCurrency": "AUD",
    "itemCondition": "https://schema.org/NewCondition",
    "url": {{ .Permalink }}
  }
}
</script>
{{ end }}

 {{/*  <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="desc-tab" data-bs-toggle="tab" data-bs-target="#desc" type="button"
          role="tab" aria-controls="desc" aria-selected="true">Description</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="specs-tab" data-bs-toggle="tab" data-bs-target="#specs" type="button" role="tab"
          aria-controls="profile" aria-selected="false">Specs</button>
      </li>
    </ul>

    <div class="tab-content border border-top-0 p-2" id="myTabContent">
      <div class="tab-pane fade show active" id="desc" role="tabpanel" aria-labelledby="desc-tab">
        {{- .Content -}}
      </div>
      <div class="tab-pane fade" id="specs" role="tabpanel" aria-labelledby="specs-tab">
        {{ with .Params.size }}
        <div>
          Size: {{ . }}
        </div>
        {{ end }}
        {{ with .Params.brand }}
        <div>
          Brand: {{ . }}
        </div>
        {{ end }}
        <div>
          {{- if gt .Params.categories 1 }}Categories: {{ else }}Category: {{ end -}}
          {{- delimit .Params.categories ", " | humanize -}}
        </div>
        {{ with .Params.weight }}
        <div>
          Weight: {{ . }} grams
        </div>
        {{ end }}
        {{ with .Params.height }}
        <div>
          Height: {{ . }} cm
        </div>
        {{ end }}
        {{ with .Params.Width }}
        <div>
          Width: {{ . }} cm
        </div>
        {{ end }}
        {{ with .Params.Length }}
        <div>
          Length: {{ . }} cm
        </div>
        {{ end }}
      </div>
    </div>  */}}